<% provide(:title, "Sobre") %>
<div class="container">
<!-- Page Heading/Breadcrumbs -->
    <div class="row">
		<div class="col-lg-12">
            <ol class="breadcrumb">
                <li> <%= link_to "Home", root_path %> </li>
                <li class="active">Sobre a Extensão</li>
            </ol>
            <h1 class="page-header">Sobre a Extensão </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">O que é extensão?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
Segunda a Política Nacional de Extensão, a Extensão Universitária é o processo educativo, cultural e científico que articula o Ensino e a Pesquisa de forma indissociável e viabiliza a relação transformadora entre a Universidade e a Sociedade. O Plano Nacional de Extensão define Diretrizes para a Extensão Universitária que devem estar presentes em todas as ações de Extensão e que podem ser, didaticamente, expressadas em quatro eixos: Impacto e transformação, Interação dialógica, Interdisciplinaridade e Indissociabilidade ensino – pesquisa – extensão.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Qual a Importância da Extensão?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
Por meio da extensão, a universidade tem o ensejo de transmitir o conhecimento para a comunidade em geral, conhecimento este que é produzido com pesquisa e projetos educacionais. Estes projetos concretizam a interação entre instituição e sociedade com a troca de experiências e a promoção do desenvolvimento de novos processos de ensinoaprendizagem praticados no dia-a-dia dos envolvidos. 
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Orientações Gerais para o Credenciamento de Ações Extensionistas de Cursos ou Eventos</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
- Se o curso ou evento contemplar taxa de inscrição e/ou mensalidade é obrigatório o preenchimento da Planilha de custo. A planilha será avaliada pela FAP que por sua vez pode emitir parecer favorável ou não. <br>
- Para utilizar o logo e nome da UNIFESP a ação deve ser credenciada. A ação pode ser curso ou evento. <br>
- Para ser curso a carga horária tem que ser no mínimo 8 e no máximo 179 horas. <br>
- O formulário de credenciamento "Solicitação de Aproação de Ação de Extensão" deve ser assinado: pelo(a) Chefe de Departamento ou Diretor(a) Acadêmico de Campus e pelo Coordenador(a) da Ação. <br>
- Nos campos destinados a assinatura deve constar o carimbo de quem assina. <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>