<% provide(:title, "Sobre") %>
<div class="container">
  <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
  <h1>Sobre</h1>
  <p align="justify"> O sítio eletrônico foi desenvolvido com supervisão do professor Tiago Silva da Silva.</p>
  <p align="justify">
    Este projeto foi iniciado pelos seguintes alunos na disciplina de Projetos em Engenharia da Computação (1º semestre de 2017):
    <ul>
      <li>Caio Guimarães</li>
      <li>Cássio Peres Vicente</li>
      <li>Henrique Garcia</li>
      <li>João Dias</li>
      <li>João Guilherme</li>
      <li>João Zini</li>
      <li>José Jailson Craibas</li>
      <li>Leonardo Freitas</li>
      <li>Rafael Silva</li>
      <li>Ramon Amorim</li>
      <li>Taciane Silva</li>
      <li>Thiago Hideki Sato</li>
      <li>Thomas William</li>
      <li>Tiago Alexander Leal Ruzzon</li>
      <li>Vinicius Nunes</li>
    </ul>
  </p>
  <p>O desenvolvimento do projeto foi continuado na disciplina de Laboratório de Usabilidade na Web (2º semestre de 2017) pelos alunos
    <ul>
      <li>Lucas Adriano</li>
      <li>Thiago Hideki Sato</li>
      <li>Tiago Alexander Leal Ruzzon</li>
      <li>Tiago da Silva Cardoso</li>
    </ul>
  </p>
</div>
