<% provide(:title, "Sobre") %>
<div class="container">
  <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
  <h1>Sobre a Extensão</h1>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to "O que é extensão?", "#collapseOne", { :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion"} %>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div id="panel-body">
          <h5>Segunda a Política Nacional de Extensão, a Extensão Universitária é o processo educativo, cultural e científico
            que articula o Ensino e a Pesquisa de forma indissociável e viabiliza a relação transformadora entre a Universidade
            e a Sociedade. O Plano Nacional de Extensão define Diretrizes para a Extensão Universitária que devem estar presentes
            em todas as ações de Extensão e que podem ser, didaticamente, expressadas em quatro eixos: Impacto e transformação,
            Interação dialógica, Interdisciplinaridade e Indissociabilidade ensino – pesquisa – extensão.</h5>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to "Qual a Importância da Extensão?", "#collapseTwo", { :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion"} %>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <h5>Por meio da extensão, a universidade tem o ensejo de transmitir o conhecimento para a comunidade em geral, conhecimento
          este que é produzido com pesquisa e projetos educacionais. Estes projetos concretizam a interação entre instituição
          e sociedade com a troca de experiências e a promoção do desenvolvimento de novos processos de ensinoaprendizagem
          praticados no dia-a-dia dos envolvidos. </h5>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to "Orientações Gerais para o Credenciamento de Ações Extensionistas de Cursos ou Eventos", "#collapseThree", { :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion"} %>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <h5>
          <ul>
            <li>Se o curso ou evento contemplar taxa de inscrição e/ou mensalidade é obrigatório o preenchimento da Planilha
              de custo. A planilha será avaliada pela FAP que por sua vez pode emitir parecer favorável ou não;</li>
            <li>Para utilizar o logo e nome da UNIFESP a ação deve ser credenciada. A ação pode ser curso ou evento;</li>
            <li>Para ser curso a carga horária tem que ser no mínimo 8 e no máximo 179 horas;</li>
            <li>O formulário de credenciamento "Solicitação de Aproação de Ação de Extensão" deve ser assinado: pelo(a) Chefe
              de Departamento ou Diretor(a) Acadêmico de Campus e pelo Coordenador(a) da Ação;</li>
            <li>Nos campos destinados a assinatura deve constar o carimbo de quem assina.</li>
        </h5>
      </div>
    </div>
  </div>
</div>
