<% provide(:title, "Dúvidas") %>
<div class="container" >

        <div class="row">
            

           <div class="col-lg-12">
                           <ol class="breadcrumb">
                     <li> <%= link_to "Home", root_path %> 
                    </li>
                    <li class="active">Dúvidas</li>
                    <li class="active">Dúvidas Frequentes</li>
                </ol>
                     <h1 class="page-header">Dúvidas Frequentes
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- Page Heading/Breadcrumbs -->
       

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Quem pode cadastrar um projeto?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                             Qualquer professor do ICT que possua uma ideia de projeto de extensão.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Como cadastrar um projeto?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                . Seja um professor do ICT<br>
								. Cadastre-se no site<br>
								. Acesse a página de projetos<br>
                                . Clique em cadastrar projeto<br>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Como posso ver os projetos disponiveis?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Na página de projetos é posssível visualizar todos os projetos existentes. Ela se encontra em: Home/Projetos.

                        </div>
                    </div>
                    <!-- /.panel -->
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <hr>


    </div></div></div></div></div>
