<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @outings.each_with_index do |outing, i| %>
      <li data-target="#mycarousel" data-slide-to=#{i) class="#{'active' if i == 0}"></li>
    <% end %>
    <li data-target="#myCarousel" data-slide-to="0"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "projeto1.jpg",class: "fill"%>
      <div class="carousel-caption">
          <h2>Projeto NETES</h2>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "projeto2.jpg",class: "fill"%>
      <div class="carousel-caption">
        <h2>Projeto Mão 3D</h2>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "projeto3.jpg",class: "fill"%>
      <div class="carousel-caption">
        <h2>Projeto Parque da Ciência e Tecnologia</h2>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</header>
