<div class="container">
  <% @title = "Tutoriais" %>
  <% provide(:title, @title) %>
  <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
  <h1><%= @title %></h1>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
