<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
    </div>
  </div>

<% provide(:title, 'Pesquisa') %>
<div class="container">
  <%= will_paginate %>
  <% @dynamic_pages.each do |pg_search_document| %>
    <%= render partial: "results_search", locals: {result_search: pg_search_document} %>
  <% end %>
  <%= will_paginate %>

  <% if @dynamic_pages.blank? %>
    <h1>Não foram encontrados resultados para a pesquisa realizada</h1>
  <% end %>

</div>
