<% provide(:title, 'Projetos e Programas de Extensão') %>
<div class="container">
	<div class="row">
	    <div class="col-lg-12">
        <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
	    </div>
	</div>

  <h1 class="my-4">Projetos
      <small>Todos</small>
  </h1>
	<%= will_paginate %>
	<%= render @projects %>
  <%= will_paginate %>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
