<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
      </div>
  </div>

<<<<<<< HEAD
  <% if logged_in? %>
    <div class="container" >
      <section class="professor_info">
        <%= render 'shared/professor_info' %>
      </section>
      <section class="project_form">
        <%= render 'shared/project_form' %>
      </section>
    </div>

  <% else %>
    <div class="container">
      <h1>Faça login para cadastrar um projeto</h1>
    </div>
  <% end %>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
=======
<% else %>
  <div class="container">
	  <h1>Faça login para cadastrar um projeto</h1>
  </div>
<% end %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
>>>>>>> 2c457634453c49b2b956d36fe505d34afc302b15
