<% if logged_in? %>
  <div class="container" >
    <section class="professor_info">
      <%= render 'shared/professor_info' %>
    </section>
    <section class="project_form">
      <%= render 'shared/project_form' %>
    </section>
  </div>

<% else %>
  <div class="container">
	  <h1>Faça login para cadastrar um projeto</h1>
  </div>
<% end %>
