<footer class="panel-footer" id="fot">
	<div class="container ">
        <div class="col-sm-4 footer-info">
            <p>
				<strong>Universidade Federal de São Paulo</strong>
			</p>
            <p>
				Unidade Parque Tecnológico:
				<br>Avenida Cesare Mansueto Giulio Lattes, 1201,
				<br>CEP: 12247-014
				<br>São José dos Campos - SP
            </p>
			<p>	
				Unidade Talim:
				<br>Rua Talim, 330, Vila Nair, CEP: 12231-280
				<br>São José dos Campos - SP
            </p>
            <p>
				contato@extensao.com.br
				<br>(xx) xxxx-xxxx
			</p>
            
        </div>

		<div class="col-sm-4">
            <p class="text-center hidden-xs"><strong>Extensão UNIFESP nas redes sociais</strong></p>
            <div class="center-icons ">
                <ul class="soc">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <p class="back-to-top"><a href="#"><span class="fa fa-arrow-up" aria-hidden="true"></span> Voltar ao topo</a></p>
        </div>
        <div class="clear"></div>

        <div class="col-md-12 credits" style="border-top:2px solid #575757;">
            <p>Tema desenvolvido pela turma 1S2017 de Projetos em Engenharia de Computação, ofertada pela Universidade Federal de São Paulo. Baseado no <a href="http://lucassandes.com/cartilha-acessibilidade-usabilidade/template/" target="_blank">tema</a> de Lucas Sandes</p>
        </div>

    </div>
</footer>

<!--<footer class="footer">
  <div class="row">
      <div class="col-lg-12">
          <p>Portal da Extensão 2017</p>
      </div>
  </div>
</footer> -->
