<footer id="footer">
  <div style="background-color: #215A36; color: white">
    <div class="container" style="position:relative;text-align:center;">
      <p class="text-center"><strong>Extensão UNIFESP nas redes sociais</strong></p>
      <div class = "d-none d-sm-block" style="position:absolute; top:0px; right:0px;">
        <p class="back-to-top">
          <%= link_to "#header" do %>
            <span class="fa fa-arrow-up" aria-hidden="true" style="color: white"></span><span style="color: white">Voltar ao topo</span>
          <% end %>
        </p>
      </div>
      <div class="center-icons">
        <ul class="soc">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container text-center">
        © 2013 - 2017 Universidade Federal de São Paulo - Unifesp
        <br>
        <small>Unidade Parque Tecnológico - Avenida Cesare Mansueto Giulio Lattes, nº 1201 - Eugênio de Melo, CEP: 12247-014</small>
    </div>
  </div>
</footer>
