<footer class="panel-footer" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-auto col-sm-auto col-xs-auto" style="position:relative;text-align:center;">
				<p class="text-center hidden-sm hidden-xs hidden-md"><strong>Extensão UNIFESP nas redes sociais</strong></p>
				<div class="center-icons hidden-sm hidden-xs hidden-md">
						<ul class="soc">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
						</ul>
				</div>
				<div style="position:absolute; top:0px; right:0px;">
          <p class="back-to-top">
						<%= link_to "#" do %>
							<span class="fa fa-arrow-up" aria-hidden="true"></span>Voltar ao topo
						<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-auto col-sm-auto col-xs-auto">
				<p class="text-center">
					© 2013 - 2017 Universidade Federal de São Paulo - Unifesp
					<br>
					<small>
						Unidade Parque Tecnológico - Avenida Cesare Mansueto Giulio Lattes, nº 1201 - Eugênio de Melo, CEP: 12247-014
					</small>
					<br>
					Unidade Talim - Rua Talim, nº 330 - São José dos Campos - São Paulo - CEP: 12231-280
					<br>
					Telefone: +55 (11) 5576-4848 / +55 (12) 3924-9500 / Ramal: 9500
				</p>
			</div>
		</div>
		<div class="col-md-auto credits" style="border-top:2px solid #575757;">
  		<p class="text-center">Tema desenvolvido pela turma 1S2017 de Projetos em Engenharia de Computação, ofertada pela Universidade Federal de São Paulo. Baseado no tema de <%= link_to "Lucas Sandes", "http://lucassandes.com/cartilha-acessibilidade-usabilidade/template/"%>.</p>
		</div>
	</div>
</footer>
